t]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service
[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/local/bin/kubelet \
–address=192.168.61.129 \
–hostname-override=192.168.61.129 \
–pod-infra-container-image=registry.access.redhat.com/rhel7/pod-infrastructure:latest \
–experimental-bootstrap-kubeconfig=/etc/kubernetes/ssl/bootstrap.kubeconfig \
–kubeconfig=/etc/kubernetes/ssl/kubeconfig \
–cert-dir=/etc/kubernetes/ssl \
–hairpin-mode promiscuous-bridge \
–allow-privileged=true \
–serialize-image-pulls=false \
–logtostderr=true \
–cgroup-driver=systemd \
–cluster_dns=172.21.0.2 \
–cluster_domain=cluster.local \
–v=2
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
